<h1>Editing annual crop</h1>

<%= render "form", annual_crop: @annual_crop %>

<br>

<div>
  <%= link_to "Show this annual crop", @annual_crop %> |
  <%= link_to "Back to annual crops", annual_crops_path %>
</div>
