<h1>Editing permanent crop</h1>

<%= render "form", permanent_crop: @permanent_crop %>

<br>

<div>
  <%= link_to "Show this permanent crop", @permanent_crop %> |
  <%= link_to "Back to permanent crops", permanent_crops_path %>
</div>
